%header
	%div.logo
		%h1= "Brick With Buttons"
		=image_tag "logo.png", class: "brick_with_buttons", alt: "Brick With Buttons Logo"
	%div.cart
		%p Cart: 0 items
	%div.search
		%form
	%div.button
		%button#toggle &uarr;