// Place all the styles related to the Shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Imports

@import "compass/css3";

//Reset

*
{
    margin: 0;
    padding: 0;
    display:block;
}

img
{
    border: none;
}

table
{
    border-collapse: collapse;
}

//Compass Universals

@include font-face("com4t", font-files( 
        "com4t-webfont.eot", 
        "com4t-webfont.eot?#iefix",
        "com4t-webfont.woff",
        "com4t-webfont.ttf",
        "com4t-webfont.svg#com4t-regular"
    )
);

@include font-face("league", font-files( 
        "leaguegothic-webfont.eot", 
        "leaguegothic-webfont.eot?#iefix",
        "leaguegothic-webfont.woff",
        "leaguegothic-webfont.ttf",
        "leaguegothic-webfont.svg#league-regular"
    )
);

@include font-face("munro", font-files( 
        "munro-webfont.eot", 
        "munro-webfont.eot?#iefix",
        "munro-webfont.woff",
        "munro-webfont.ttf",
        "munro-webfont.svg#munro-regular"
    )
);

#{headings(all)}
{
    color:#111;
    font-family: "munro";
}

//Document Styles

html
{
	background:#333;

	body
	{
        margin-top: 180px;
        font-family: "com4t";
        font-size: 1.0em;

        div.container
        {
            overflow:auto;
            display:block;
            margin:0 auto;
            width:95%;

            header
            {
                position:fixed;
                width:90%;
                top: 0px;
                left: 10px;
                right:10px;

                ul li{
                    display:inline;
                }

                div.logo
                {
                    margin:0px auto;
                    width:80%;

                    h1
                    {
                        font-size:32px;
                        display:inline;
                    }

                    img.brick_with_buttons
                    {
                        width:10%;
                        height:10%;
                        min-width:80px;
                        min-height:80px;
                        display:inline-block;
                    }
                }
            }

            section.content
            {
                margin:90px 5px;
            }

            footer
            {
                
            }

            header, section.content, footer
            {
                background:#CCC;
                display:block;
                margin: 0 auto;
                padding:10px;
                border:10px solid #000;
            }
        }

	}
}